@model IEnumerable<FlightTicketBookingSystem.Models.TicketReserve_tbl>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<header class="section__container header__container" style="text-align:center">
    <h1 class="section__header">Find And Book Domestic and International Flights<br />and have a Great Experience</h1>

    <img src="~/Images/header.jpg" alt="header" />

</header>

<section class="MyForm">
    <div class="wrapper bg-white" id="MyForm">
        <div class="searchfm">
            <h2>Search Flight Ticket </h2>
        </div>


        @{
            Html.BeginForm("searchFlight", "FlightSearch", "Index", FormMethod.Post);
           
            <center>
                <table>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Date</th>
                    </tr>

                    <tr>
                        <td>
                            <datalist id="rcity">
                                @foreach (var item in ViewBag.dCity)
                                {
                                    <option>@item</option>
                                }
                            </datalist>
                            <div class="form-group border-bottom d-flex align-items-center position-relative">


                                <input type="text" name="cityfrom"  placeholder="Departure City" required list="rcity" class="form-control"/>
                            </div>                                </td>

                        <td>
                            <datalist id="acity">
                                @foreach (var item in ViewBag.aCity)
                                {
                                    <option>@item</option>
                                }
                            </datalist>
                            <div class="form-group border-bottom d-flex align-items-center position-relative">

                                <input type="text" name="cityto"  placeholder="Arrival City" required list="acity" class="form-control"/>
                     </div>
                                </td>

                        <td>
                            <div class="form-group border-bottom d-flex align-items-center position-relative">

                                <input name="date1" type="date" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'mm/dd/yyyy'; }" required class="form-control"/>
                       </div>
                                </td>
                    </tr>
                </table>


            </center>
            <div class="btns">
                <input type="submit" value="Search Flight" class="btn btn-primary" />
            </div>
         

        }

    </div>

</section>


<section class="section__container plan__container">

    <p class="subheader">TRAVEL SUPPORT</p>

    <h2 class="section__header">Plan your travel with confidence</h2>

    <p class="description">

        Find help with your bookings and travel plans, and seee what to expect

        along your journey.

    </p>

    <div class="plan__grid">

        <div class="plan__content">

            <span class="number">01</span>

            <h4>Travel Requirements for Dubai</h4>

            <p>

                Stay informed and prepared for your trip to Dubai with essential

                travel requirements, ensuring a smooth and hassle-free experience in

                this vibrant and captivating city.

            </p>

            <span class="number">02</span>

            <h4>Multi-risk travel insurance</h4>

            <p>

                Comprehensive protection for your peace of mind, covering a range of

                potential travel risks and unexpected situations.

            </p>

            <span class="number">03</span>

            <h4>Travel Requirements by destinations</h4>

            <p>

                Stay informed and plan your trip with ease, as we provide up-to-date

                information on travel requirements specific to your desired

                destinations.

            </p>

        </div>

        <div class="plan__image">

            <img src="~/Images/plan-1.jpg" alt="plan" />

            <img src="~/Images/plan-2.jpg" alt="plan" />

            <img src="~/Images/plan-3.jpg" alt="plan" />

        </div>

    </div>

</section>

<section class="memories">

    <div class="section__container memories__container">

        <div class="memories__header">

            <h2 class="section__header">

                Travel to make memories all around the world

            </h2>

            <button class="view__all">View All</button>

        </div>

        <div class="memories__grid">

            <div class="memories__card">

                <span><i class="ri-calendar-2-line"></i></span>

                <h4>Book & relax</h4>

                <p>

                    With "Book and Relax," you can sit back, unwind, and enjoy the

                    journey while we take care of everything else.

                </p>

            </div>

            <div class="memories__card">

                <span><i class="ri-shield-check-line"></i></span>

                <h4>Smart Checklist</h4>

                <p>

                    Introducing Smart Checklist with us, the innovative solution

                    revolutionizing the way you travel with our airline.

                </p>

            </div>

            <div class="memories__card">

                <span><i class="ri-bookmark-2-line"></i></span>

                <h4>Save More</h4>

                <p>

                    From discounted ticket prices to exclusive promotions and deals,

                    we prioritize affordability without compromising on quality.

                </p>

            </div>

        </div>

    </div>

</section>

<section class="section__container lounge__container">

    <div class="lounge__image">

        <img src="~/Images/lounge-1.jpg" alt="lounge" />

        <img src="~/Images/lounge-2.jpg" alt="lounge" />

    </div>

    <div class="lounge__content">

        <h2 class="section__header">Unaccompanied Minor Lounge</h2>

        <div class="lounge__grid">

            <div class="lounge__details">

                <h4>Experience Tranquility</h4>

                <p>

                    Serenity Haven offers a tranquil escape, featuring comfortable

                    seating, calming ambiance, and attentive service.

                </p>

            </div>

            <div class="lounge__details">

                <h4>Elevate Your Experience</h4>

                <p>

                    Designed for discerning travelers, this exclusive lounge offers

                    premium amenities, assistance, and private workspaces.

                </p>

            </div>

            <div class="lounge__details">

                <h4>A Welcoming Space</h4>

                <p>

                    Creating a family-friendly atmosphere, The Family Zone is the

                    perfect haven for parents and children.

                </p>

            </div>

            <div class="lounge__details">

                <h4>A Culinary Delight</h4>

                <p>

                    Immerse yourself in a world of flavors, offering international

                    cuisines, gourmet dishes, and carefully curated beverages.

                </p>

            </div>

        </div>

    </div>

</section>

