@model FlightTicketBookingSystem.Models.TicketReserve_tbl

@{
    ViewBag.Title = "searchFlightDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container" style="min-height:90vh;">
    <div class="wrapper">
        <div style="text-align:center; padding-bottom:20px;">
            <h2>Flight not Available as for your information</h2>
        </div>
    </div>
</section>


