<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <section style="min-height:80vh;">

        <div style="padding:60px;">
            <hgroup>
                <h1>Something Went Worng :( <br /> Try Again !!</h1>
            </hgroup>
        </div>
    </section>
</body>
</html>
