@{
    ViewBag.Title = "About";
}

<main>

    <div class="we-are-block">

        <div id="about-us-section">

            <div class="about-us-image">

                <img src="~/Images/airplane-isolated-cloud-sky.jpg" width="808" height="458" alt="Lobby Image">

            </div>

            <div class="about-us-info">

                <h2>About Us</h2>

                <p>

                    Welcome to Abhishek Airline, where every journey begins with a promise

                    of excellence and commitment to customer satisfaction. As a premier airline, we

                    take pride in delivering unparalleled service, safety, and comfort to our passengers,

                    ensuring every flight is a memorable experience.

                </p>

            </div>

        </div>

        <div id="history-section">

            <div class="history-image">

                <img src="~/images/open plane.png" width="951" height="471" alt="Building Pic">

            </div>

            <div class="history-info">

                <h2>Preserving Safety</h2>

                <p>

                    At Abhishek Airline, innovation is at the heart of everything we do.

                    From state-of-the-art aircraft to cutting-edge technology solutions, we are

                    constantly pushing the boundaries to enhance your travel experience

                    and make flying smarter, safer, and more efficient.

                </p>

            </div>

        </div>

    </div>

</main>