@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title" class="backg">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5 contactfm">

                <h1 class="mb-3" style="color:aliceblue"><strong>Contact Us</strong></h1>

                <form>

                    <div class="row g-3">

                        <div class="col-md-6">

                            <label for="your-name" class="form-label lbltxt"> Name</label>

                            <input type="text" class="form-control" id="your-name" name="your-name" required>

                        </div>

                        <div class="col-md-6">

                            <label for="your-surname" class="form-label lbltxt"> Surname</label>

                            <input type="text" class="form-control" id="your-surname" name="your-surname" required>

                        </div>

                        <div class="col-md-6">

                            <label for="your-email" class="form-label lbltxt"> Email</label>

                            <input type="email" class="form-control" id="your-email" name="your-email" required>

                        </div>

                        <div class="col-md-6">

                            <label for="your-subject" class="form-label lbltxt"> Subject</label>

                            <input type="text" class="form-control" id="your-subject" name="your-subject">

                        </div>

                        <div class="col-12">

                            <label for="your-message" class="form-label lbltxt"> Message</label>

                            <textarea class="form-control" id="your-message" name="your-message" rows="5" required></textarea>

                        </div>

                        <div class="col-12">

                            <div class="row">

                                <div class="col-md-6">

                                    <button data-res="<?php echo $sum; ?>" type="submit" class="btn btn-dark w-100 fw-bold">Send</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</main>