
@{
    ViewBag.Title = "Deshboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div  id="page-wrapper">
    <div class="main-page">
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <h2>Welcome Admin </h2>
        </div>
    </div>
</div>

<style>
    .blank-page {
       height:100vh;
    }
</style>